@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  color-scheme: light;
}

html, body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: #f3f4f6;
}

* {
  min-width: 0;
  font: inherit;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  background: linear-gradient(135deg, #a8e6cf, #dcedc1);
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
p {
  text-wrap: pretty;
}
h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.8rem; }
label { font-size: 1.5rem; }

.fade-out {
  animation: fadeOut 0.21s ease-in-out;
}

@keyframes fadeOut {
  from {
    transform: scale3d(1,1,1);
    opacity: 1;
  }
  to {
    transform: scale3d(0.9,0.5,0.9);
    opacity: 0;
  }
}

h2 {
  font-weight: 700;
  color: #6b41cb; 
  letter-spacing: 0.05em;
  margin-bottom: 2rem;
  text-align: center;
}

a {
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #5d2ec3;
  text-decoration: underline;
}